/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}

.friend {
    max-width: 600px;
    margin: 15px auto 15px auto;
    padding: 10px 120px 10px 120px;
    border: solid rgba(20,20,20,0.3) 1px;
    border-radius: 10px;
}

.friend:hover {
    box-shadow: 2px 2px 7px gray;
}

.friend img {
    margin: 0 auto 0 auto;
}
